<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hprotcennoc.frostic3.connectorph"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Bluewhite" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserRegForm"
            android:parentActivityName=".MainActivity"
            android:label="@string/registerDonor"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".OrphRegForm"
            android:parentActivityName=".MainActivity"
            android:label="@string/registerOrphanage"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".OrphRegForm1"
            android:parentActivityName=".OrphRegForm"
            android:label="@string/orphanageContact"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".UserProfile"
            android:parentActivityName=".MainActivity"
            android:label="@string/userProfile"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".OrphProfile"
            android:parentActivityName=".MainActivity"
            android:label="@string/orphProfile"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>
